@media(max-width:1134px) {
   .container {
    background: url(../images/bg-mobile.svg) no-repeat;
    background-size: cover;
    padding: 5rem;
  }

  .header {
    margin-bottom: 7rem;  
  }

  .header img {
    min-width: 20.5rem;
  }

  .main {
    max-width: 790px;
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding-bottom: 5rem;
  }

  .main .main-col-a img {
    width: 80vw;
  }

  .main .col-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main .col-b h1 {
    font-size: 4.9rem;
  }

  .main .col-b p {
    font-size: 2.9rem;
    line-height: 1.7;
    margin-bottom: 6rem;
    margin-right: 0;
  }

  .main .col-b a.button {
    font-size: 2.5rem;
    padding: 2.5rem 10rem;
  }

  footer {
  position: initial;
  padding-bottom: 4rem;
  }

  footer .redes {
    justify-content: center;
    gap: 3rem;
  }
  footer .redes .fa-facebook-f {
    font-size: 2.8rem;
    border-radius: 2.8rem;
    padding: 1.2rem 1.8rem;
  }
  
  footer .redes .fa-twitter {
    font-size: 2.8rem;
    border-radius: 2.8rem;
    padding: 1.2rem;  
  }
  
  footer .redes .fa-instagram {
    font-size: 2.8rem;
    border-radius: 2.8rem;
    padding: 1.2rem;  
  }
}

@media(max-width:425px) {
  .main .col-b h1 {
    font-size: 2.5rem;
  }

  .main .col-b p {
    font-size: 1rem;
  }
}